<section class="modal-content">
    <h1 class="h2 p-2">About Me! (the "author")</h1>
    <P class="p-2">
        Details about the author
    </p>
</section>

<section class="modal-content bg-dark text-light">
    <h1 class="h3 p-2">Contribute or provide feedback to my code</h1>
    <p class="p-2"><a href="https://github.com/paulkapa">github.com/paulkapa</a></p>
    <h2 class="h3 p-2">An LED light I saw in a bar...</h2>
    <p>I thought it would look nice:</p>
    <div class="LED-light">
        <div class="LED-1"></div>
        <div class="LED-2"></div>
        <div class="LED-3"></div>
        <div class="LED-4"></div>
        <div class="LED-5"></div>
        <div class="LED-6"></div>
        <div class="LED-7"></div>
        <div class="LED-8"></div>
        <div class="LED-9"></div>
        <div class="LED-10"></div>
    </div>
    <h2 class="h3 p-2">
        Support my work by offering a free coffe break!
        <span><em class="fa-solid fa-mug-hot fa-beat"></em></span>
    </h2>
    <p class="p-2">
        <strong>The link below does not force a payment!</strong>
        <br>
        PayPal <span><em class="fa-brands fa-paypal"></em></span>:
        <a href="https://www.paypal.com/paypalme/paulc1379">donate a Stubucks Grande (5$)!<a>
    </p>
</section>
