<section class="modal-content">
    <h1 class="h2">First Express Server</h1>
    <P class="p-2">
        - Callback functions
        - Clean code / code conventions
        - Package.json
        - Importing in Node.js
        - Body Parsing
        - Understand advanced things about functions in Javascript including hoisting.
        - Can argue why clean code and following code conventions is a good idea.
        - Can write callback functions with different syntax.
        - Understand package.json. The three responsibilities it fulfills.
        - Can create a server instance with Express.
        </>
</section>
