<section class="modal-content">
    <h1 class="h2 p-2">Serving HTML</h1>
    <P class="p-2">
        - Loops
        - Nodemon
        - Sending Data
        - Pure Data CRUDable REST API
        - Can argue about why immutability and a functional approach to loops are preferred and will always choose the correct one.
        - Knows when and how to use Nodemon.
        - Knows how to send data in a GET request and how to receive it in Express.
        - Can implement a REST API, consider efficiency while doing so and enforce proper conventions.
        - Can write a fetch request in the front-end by heart.
    </p>
</section>
