<section class="modal-content">
    <h1 class="h2 p-2">SSR (Server Side Rendering)</h1>
    <P class="p-2">
        - Pure Data CRUDable REST API - Part II - Done!
        - Serving Static Assets in Express
        - One way to do SSR in Express.
        - Can blindly create a full CRUDable REST API that follows the good form we've gone through and given enough time but no possibility to look up a solution.
        - Knows what Serving Static Files in Express means and why it is done.
        - Understand why the way we've done SSR works, is able to refactor existing code to become SSR and is able to implement a SSR project
    </p>
</section>
