<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>%%DOCUMENT_TITLE%%</title>
    </head>

    <body>
        <section class="position-relative w-100 m-0">
            <header class="modal-header">
                <nav class="navbar-dark">
                    <a href="/sciencegallery" class="nav-item">Science Gallery</a>
                </nav>
                <h1 class="h2">World Wide Science</h1>
                <h2 class="h3 text-muted">Powered by Express</h2>
            </header>
        </section>
