<body class="user-select-none">
    <section class="modal-content">
        <h1 class="h2 text-center">
            <a type="button" class="text-muted text-decoration-none" data-bs-toggle="collapse" data-bs-target="#nav-c" aria-controls="nav-c">
                <em class="fa-solid fa-bars"></em> Welcome to KEA - Full Stack Node.js
            </a>
        </h1>
        <header id="nav-c" class="nav-c collapse flex-wrap">
            <a class="nav-link btn btn-toolbar" href="/">Home</a>
            <a class="nav-link btn" href="/introduction">Introduction</a>
            <a class="nav-link btn" href="/express-server">Express Server</a>
            <a class="nav-link btn" href="/serving-html">Serving HTML</a>
            <a class="nav-link btn" href="/ssr">SSR</a>
            <a class="nav-link btn" href="/about">About</a>
            <a class="nav-link btn" href="/about-me">Author</a>
            <a class="nav-link btn" href="/academic">Academic</a>
            <a class="nav-link btn" href="/glossary">Glossary</a>
            <a class="nav-link btn" href="/copyright">Copyright</a>
        </header>
    </section>
