<body>
    <!-- Navigation goes here -->
    <section>
        <h1 class="h2">Welcome to KEA - Full Stack Node.js class</h1>
        <header class="modal-header">
            <a class="btn btn-sm btn-secondary" href="/">Home</a>
            <a class="btn btn-sm btn-secondary" href="/introduction">Introduction</a>
            <a class="btn btn-sm btn-secondary" href="/express-server">Express Server</a>
            <a class="btn btn-sm btn-secondary" href="/serving-html">Serving HTML</a>
            <a class="btn btn-sm btn-secondary" href="/ssr">SSR</a>
            <a class="btn btn-sm btn-secondary" href="/about">About</a>
            <a class="btn btn-sm btn-secondary" href="/about-me">Author</a>
            <a class="btn btn-sm btn-secondary" href="/academic">Academic</a>
            <a class="btn btn-sm btn-secondary" href="/glossary">Glossary</a>
            <a class="btn btn-sm btn-secondary" href="/copyright">Copyright</a>
        </header>
    </section>
