html,
body,
header,
main,
footer,
section {
    /*Main Box Sizing and Positioning*/
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

header,
footer,
section {
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;

    justify-content: space-evenly;
    justify-content: space-around;
    align-content: space-evenly;
    align-content: space-around;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    /*User Select*/
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /*Scrollbar*/
    -ms-overflow-style: none;
    scrollbar-width: none;

    /*Font*/
    color: darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Consolas Mono', monospace;

    /*Text*/
    text-align: justify;
    -ms-text-align-last: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

header,
footer,
section {
    width: 100vw;
    margin-top: 1em;
    margin-bottom: 2em;
}

footer {
    border-top: 0.2em inset slateblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1em;
    font-weight: bold;
    text-align: left;
}

p {
    padding: 0.5em;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}
