*:root {
    --color-1: rgba(255, 0, 0);
    --color-2: rgba(0, 128, 0);
    --color-3: rgba(0, 0, 255);
    --color-4: rgba(255, 166, 0);
    --color-5: rgba(255, 0, 255);
    --color-6: rgba(0, 255, 255);
    --color-transparent: transparent;
}

@keyframes alternate-bg {
    0% {background-color: var(--color-1);}
    20% {background-color: var(--color-2);}
    40% {background-color: var(--color-3);}
    60% {background-color: var(--color-4);}
    80% {background-color: var(--color-5);}
    100% {background-color: var(--color-6);}
}

body::-webkit-scrollbar {display: none;}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 16px;
    text-align: justify;
    text-decoration: none;
    background-color: darkslategrey;
    background-size: cover;
}

a {
    color: #00B7FF;
}

.nav-c {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

section {
    position: relative;
    margin: 2vh auto;
    width: 100vw;
}

.LED-light {
    width: 3em;
    height: 16em;
    margin: 0 auto;
}.LED-1, .LED-2, .LED-3, .LED-4, .LED-5, .LED-6, .LED-7, .LED-8, .LED-9, .LED-10 {
    background-color: var(--color-transparent);
    height: calc(16em/10);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: alternate-bg 2s linear 0ms infinite alternate-reverse none;
    filter: blur(0.85em);
}

@media only screen and (min-width: 1280px) {
    section > * {
        max-width: 80vw;
        margin: 0 auto;
    }
}
